@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&display=swap');
*{
	margin: 0;
	padding: 0;
}
a,a:hover{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
img{
	vertical-align: middle;
}
ul,ol,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	font-family: 'Open Sans', sans-serif;
}
section{
	padding: 100px 0px;
}
/*-------Header Area CSS------*/
header{
	padding: 30px 0px;
	position: fixed;
	width: 100%;
    z-index: 2;
}
.sticky{
	padding: 15px 0px;
	background: rgba(0,0,0,0.8);
}
header .navbar-brand{

}
header .menu-list{}
header .menu-list li{
	margin-left: 10px;
}
header .menu-list li a{
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
    padding: 10px;
}
header .menu-list li a.active,
header .menu-list li a:hover
{
	color: #03ffc4;
	border-bottom: 1px solid #fff;
}
.social-icon a{    
	width: 25px;
    height: 25px;
    background: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 3px;
    color: #fff;
    font-size: 14px;
}
/*Menu Bar CSS*/
.menubar{
	font-size: 22px;
	color: #fff;
	display: none;
}
/*------Bannner Are css-----*/
.banner{}
.banner .slide-item1{
	background: url(../img/banner/1.jpg)no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .slide-item1.s2{
	background: url(../img/banner/2.jpg)no-repeat;
}
.banner .slide-item1.s3{
	background: url(../img/banner/33.jpg)no-repeat;
}
.ban-content{
	color: #fff;
	text-align: center;
}
.ban-content h2{
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
    margin-bottom: 20px;
}
.ban-content p{
	width: 90%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 300;
}
.aray-btn{
	outline: none;
	width: 50px;
	height: 50px;
	background: rgb(0, 0, 0, 0.5);
	font-size: 20px;
}
.swiper-button-next:after, .swiper-button-prev:after{
	font-size: 25px;
}
/*-----About Area CSS----*/
.about{}
.about .title{
    font-size: 35px;
    font-weight: 600;
    color: #555555;
    text-transform: uppercase;
    line-height: 35px;
    margin-bottom: 20px;
}
.about .text{    
	font-size: 15px;
    color: #555555;
    line-height: 25px;
    text-align: justify;
    margin-right: 20px;
}
.about .videography{
	position: relative;
}
.about .videography img{}
.about .videography .play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: #03cc58;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.about .videography .play-btn:hover{
	background: #fff;
	color: #03cc58
}
.myvideo{
	position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    display: none;
}
.myvideo iframe{
    width: 700px;
    height: 400px;
}
.colse-btn {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    background: #792525;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
/*------Visitor Area CSS------*/
.visitor{
    background: url(../img/banner/22.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
}
.visitor .overflow{    
	background: rgba(0,0,0,0.4);
    height: 100%;
    padding: 100px 0px;
	color: #fff;
}
.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
	text-align: center;
}
.end { margin-right: 0 !important; }
/* Column Grids End */

.wrapper { 
	padding: 100px 0px;
}
.count-title {
 font-size: 40px; 
 font-weight: normal;  
 margin-top: 10px; 
 margin-bottom: 0; 
 text-align: center; 
}
.count-text { 
	font-size: 13px; 
	font-weight: normal;  
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center; 
}
.fa-2x { 
	margin: 0 auto; 
	float: none; 
	display: table; 
	color: #4ad1e5; 
}
/*------Blog CSS------*/
.blog {}
.blog .text-center h2
{
    font-size: 35px;
    font-weight: 600;
    color: #555555;
    text-transform: uppercase;
    line-height: 35px;
    margin-bottom: 20px;
}
.blog .text-center p
{
	font-size: 15px;
    color: #555555;
    line-height: 25px;
    margin-right: 20px;
}
.blog .card
{
    box-shadow: 0px 8px 16px rgb(0 0 0 / 25%);
    outline: none;
    border: none;
    transition: 0.3s;
    cursor: pointer;
  }
.blog .card .thumb{}
.blog .card .thumb img{}
.blog .card .content{}
.blog .card .content .title
{
	font-size: 22px;
	font-weight: 600;
	color: #555555;
}
.blog .card .content .text
{
	font-size: 15px;
	color: #555555;
	margin-bottom: 15px;
	text-align: justify;
}
.blog-btn a{    
	background: #03ffc4;
    color: #000;
    font-size: 14px;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    display: inline-block;
}
.blog-btn a:hover{
	color: #03ffc4;
	background: #000;
}
.blog .card:hover,
.active
{
    transform: translateY(-10px);
}
/*---------Our Portfolio CSS---------*/
.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}
/*-------Team CSS-----*/
.our-team-section {
    position: relative;
}
.our-team-section:before {
    position: absolute;
    top: -0;
    left: 0;
    content: " ";
    background: url(img/service-section-bottom.png);
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}
.our-team {
    padding: 30px 0 40px;
    background: #f9f9f9;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-bottom: 5px solid #00325a;
}
.our-team:hover{
    border-bottom: 5px solid #2f2f2f;
}

.our-team .pic{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}
.our-team .pic:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #00325a;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before{
 	height: 100%;
    background: #03ffc4; 
 }
.our-team .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff00;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic:after{
    background: #7ab92d;
}
.our-team .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    position: relative;
    z-index: 2;
}
.our-team:hover .pic img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
.our-team .team-content{ margin-bottom: 30px; }
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform:capitalize;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    background: #03ffc4;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social{ bottom: 0; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
    color: #03ffc4;
    background: #f7f5ec;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}
/*------Contact Css*/
.contact{
	background: #010101;
}
.contact .section-name h3{
	color: #03ffc4;
	margin-bottom: 20px;
}
.contact .section-name p{
	color: #f1f1f1;
}

.contact form{
	margin-top: 40px;
}
.contact form input{
	width: 500px;
    outline: none;
    background: #fff;
    border: none;
    padding: 20px;
    border-radius: 5px;
}
.contact form input.submit{
    width: 125px;
    margin-left: 20px;
    background: #03ffc4;
    font-weight: 700;
    font-size: 16px;
}
.contact .icon{
	margin: 75px 0px;
}
.contact .icon a{
	color: #000;
    background: #03ffc4;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 45px;
    margin: 5px;
    border-radius: 5px;	
}
.contact .icon a i{
	font-size: 22px;
}
.foot-item p,
.foot-item ul li a{
	color: #fff;
	font-size: 16px;
}
.foot-item ul li a:hover{
	color: #03ffc4;
	text-decoration: underline;
}
/*Scroll Up Btn*/
.scroll-up-btn{
    position: fixed;
    height: 50px;
    width: 40px;
    right: 30px;
    bottom: 10px;
    background: #03ffc4;
    border: 1px solid #03ffc4;
    border-radius: 6px;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    z-index: 999;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn:hover{
    background: none;
    color: #03ffc4;
}
.scroll-up-btn.show{
    bottom: 20px;
    opacity: 1;
    pointer-events: auto;
}

/*_____Footer End_______*/

@media(max-width: 668px){
	.menu{
		display: none;
	}
	.menu-list{
		flex-direction: column;position: fixed;
		width: 100%;
		text-align: center;
		left: 0;
		height: 100vh;
		background: rgba(0,0,0,0.6);
		padding-top: 100px;
		top: 0;
	}
	.menu-list li{
		margin-bottom: 15px;
	}
	.menubar{
		display: block;
		z-index: 1;
		cursor: pointer;
	}
}
